.Rproj.user
.Rhistory
.RData
.Ruserdata
.RData
.RDataTmp
.RData
.Rproj.user/1AA73F9B/pcs/windowlayoutstate.pper
.Rproj.user/1AA73F9B/pcs/workbench-pane.pper
.Rproj.user/1AA73F9B/sources/per/t/D3ADA4CD
.Rproj.user/1AA73F9B/sources/per/t/D3ADA4CD-contents
.Rproj.user/1AA73F9B/sources/prop/F06563FE
